{% extends 'template.html' %}

{% block title %}
Recipe
{% endblock %}

{% block mycontent %}
<h1>Recipe Book</h1>
<h2>{{name}}</h2>
<h3>By: {{object.author.name}}</h3>


<h1>Hello {{request.user.username}}</h1>
<form action="{% url 'logout'%}" method="POST">
    {%csrf_token%}
    <button type="submit">LOG OUT</button>
</form>

<p>Ingredients:</p>
<ul>
    {% for ingredient in object.ingredients.all %}
    <li>{{ingredient.ingredient.name}}, {{ingredient.quantity}}</li>
    {% endfor %}
</ul>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe</title>
</head>
<body>
    <h1>Recipe Book</h1>
    <h2>{{name}}</h2>
    <p>Ingredients:</p>
    <ul>
        {% for ingredient in object.ingredients.all %}
        <li>{{ingredient.ingredient.name}}, {{ingredient.quantity}}</li>
        {% endfor %}
    </ul>
</body>
</html> -->